:root {
  --background-color: #ffffff;
  --footer-backgr-color: #2f303a;
  --logo1-color: #2196f3;
  --logo2-color: #000000;
  --address-color: #757575;
  --text-color: #212121;
  --line-color: #ececec;
  --port-border: #eeeeee;
  --backgr-br: #f5f4fa;
  --cap-hover: #046ec3;
}
body {
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
*::selection {
  background-color: var(--logo1-color);
  color: var(--background-color);
}
*:focus {
  outline: none;
}

a,
button {
  transition: transform 0.3s ease; 
}


a:hover,
button:hover {
  transform: scale(1.1); 
}

a:focus,
button:focus {
  transform: scale(1.1); 
}


a:not(:hover):not(:focus),
button:not(:hover):not(:focus) {
  transform: scale(1); 
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.header {
  padding: 24px 0;
  border-bottom: #ececec solid 1px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--background-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo1-header {
  color: var(--logo1-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.logo2-header {
  color: var(--logo2-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.nav-list-info {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.header-item {
  color: var(--logo2-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checked {
  color: var(--logo1-color);
  position: relative;
}

.checked::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--logo1-color);
  border-radius: 2px;
}

.gmail {
  margin-left: 318px;
}
.nav-list-contact {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: auto;
}
.header-gmail {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.header-tel {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-item:focus {
  outline: none;
  color: var(--logo1-color);
}
.header-info:focus {
  outline: none;
  color: var(--logo1-color);
}
.header-info:focus-within .header-icon {
  fill: var(--logo1-color);
}
.header-item:active {
  color: var(--logo1-color);
}

.header-item:hover {
  color: var(--logo1-color);
}
.header-gmail:active {
  color: var(--logo1-color);
}

.header-gmail:hover {
  color: var(--logo1-color);
}

.header-tel:active {
  color: var(--logo1-color);
}

.header-tel:hover {
  color: var(--logo1-color);
}
.contact-item {
  position: relative;
  text-decoration: none;
  color: var(--address-color);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-item:hover .header-icon {
  fill: var(--logo1-color);
}
.header-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin: 0;
  padding-left: 25px;
  color: inherit;
  line-height: 1.5;
  white-space: nowrap;
}
.header-icon {
  fill: var(--address-color);
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-gmail .header-text {
  margin-left: 5px;
}
.header-text {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-gmail:hover .header-text,
.header-tel:hover .header-text {
  color: var(--logo1-color);
}
/* main */
.wrapper {
  padding: 24px 0;
}
/* filters */
.filters {
  padding-top: 94px;
  border-top: solid rgba(236, 236, 236, 1) 1px;
}
.filters-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.filters-button {
  color: var(--logo2-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: var(--backgr-br);
  border: none;
  padding: 6px 22px;
  cursor: pointer;
}
.filters-button:focus {
  background: var(--logo1-color);
  color: var(--background-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  transition: var(--animation);
}
.filters-button:hover {
  transition: var(--animation);
  color: var(--background-color);
  background: var(--logo1-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* portfolio */
.portfolio {
  margin-top: 50px;
  margin-bottom: 94px;
}
.port-list {
  background-color: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.port-wrap {
  padding: 0 24px 20px;
  margin-top: 20px;
}
.port-item {
  border: 1px solid var(--port-border);
  background: var(--background-color);
  flex-basis: calc((100% - 90px) / 3);
}
.port-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-link:focus {
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-link:focus .port-art {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-name {
  color: var(--logo2-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.port-work {
  color: var(--address-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
.thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--logo1-color);
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--background-color);
  width: 322px;
}
.port-link:hover .overlay,
.port-link:focus .overlay {
  transform: translateY(0);
}
/* footer */
.footer {
  background: var(--footer-backgr-color);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  gap: 70px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.logo1-footer {
  color: var(--logo1-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
.logo2-footer {
  color: var(--background-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-address {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 20px;
}
.footer-gmail {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-info:focus {
  color: var(--logo1-color);
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media:focus-within {
  background-color: var(--logo1-color);
  outline: none;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media:focus {
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media:focus-within .footer-icon {
  fill: var(--background-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-wrapper {
  padding-top: 12px;
}
.footer-text {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-medias {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-run {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

.footer-run:hover {
  background-color: var(--logo1-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: var(--background-color);
}

.footer-gmail:active {
  color: var(--logo1-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-gmail:hover {
  color: var(--logo1-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel:active {
  color: var(--logo1-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel:hover {
  color: var(--logo1-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address:active {
  color: var(--logo1-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address:hover {
  color: var(--logo1-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form {
  margin-left: auto;
  padding-top: 12px;
}

.footer-title {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-label {
  display: flex;
  gap: 12px;
}

.footer-name {
  width: auto;
  width: 358px;
  height: 50px;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--background-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--logo1-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-btn {
  display: flex;
  align-items: center;
  color: var(--background-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--logo1-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
  border: none;
  padding: 10px 28px;
  margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
  background: var(--cap-hover);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-send {
  fill: var(--background-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* scroll to top */
@keyframes scroll-rotate {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(360deg);
  }

  66% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gotopbtn
{
  position: fixed;
  width: 50px;
  border-radius: 50%;
  border: 5px solid white;
  height: 50px;
  background: var(--logo1-color);
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 32px;
  animation-name: scroll-rotate;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.52, 0.8, 0.54, 0.26);
  animation-iteration-count: infinite;
}