:root {
  --background-color: #ffffff;
  --footer-backgr-color: #2f303a;
  --logo1-color: #2196f3;
  --logo2-color: #000000;
  --address-color: #757575;
  --text-color: #212121;
  --line-color: #ececec;
  --port-border: #eeeeee;
}
body {
  font-family: "Roboto";
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: dashed red;
}
/* header */
.header {
  padding: 24px 0;
}
.logo1-header {
  color: var(--logo1-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo2-header {
  color: var(--logo2-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-item {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-gmail {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-tel {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list-item:nth-child(2) a {
  color: var(--logo1-color);
}

.header-item:active {
  color: var(--logo1-color);
}

.header-item:hover {
  color: var(--logo1-color);
}
.header-gmail:active {
  color: var(--logo1-color);
}

.header-gmail:hover {
  color: var(--logo1-color);
}

.header-tel:active {
  color: var(--logo1-color);
}

.header-tel:hover {
  color: var(--logo1-color);
}
/* filters */
.filters-button {
  border-radius: 4px;
  background: var(--background-color);
  border: none;
  color: #000;
}
.filters-button:hover {
  background-color: var(--logo1-color);
  color: var(--background-color);
  transition: 0.5s;
  border-radius: 4px;
}

/* portfolio */
.portfolio {
  padding: 94px 0;
}
.port-item {
  border: 1px solid var(--port-border);
  background: var(--background-color);
}
.port-name {
  color: var(--logo2-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.port-work {
  color: var(--address-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
/* footer */
.footer {
  background: var(--footer-backgr-color);
  padding: 60px 0;
}
.logo1-footer {
  color: var(--logo1-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.logo2-footer {
  color: var(--background-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-address {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-gmail {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-gmail:active {
  color: var(--logo1-color);
}
.footer-gmail:hover {
  color: var(--logo1-color);
}
.footer-tel:active {
  color: var(--logo1-color);
}
.footer-tel:hover {
  color: var(--logo1-color);
}
.footer-address:active {
  color: var(--logo1-color);
}
.footer-address:hover {
  color: var(--logo1-color);
}
