:root {
  --background-color: #ffffff;
  --cap-color: #2f303a;
  --logo1-color: #2196f3;
  --logo2-color: #000000;
  --address-color: #757575;
  --text-color: #212121;
  --team-backgr-color: #f5f4fa;
}
body {
  font-family: "Roboto";
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: dashed red;
}
/* header */
.header {
  padding: 24px 0;
}
.logo1-header {
  color: var(--logo1-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo2-header {
  color: var(--logo2-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-item {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-gmail {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-tel {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list-item:nth-child(1) a {
  color: var(--logo1-color);
}

.header-item:active {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}

.header-item:hover {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}
.header-gmail:active {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}

.header-gmail:hover {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}

.header-tel:active {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}

.header-tel:hover {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}
/* cap */

.cap {
  background-color: var(--cap-color);
  padding: 200px 0;
}

.cap-title {
  color: var(--background-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
}
.cap-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background: var(--logo1-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.cap-text {
  color: var(--background-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

/* why us */

.why-us-hero {
  color: var(--logo2-color);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.why-us-text {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* what we do */

.what-we-do-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

/* team */

.team-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.team-name {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team-work {
  color: var(--address-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
/* footer */
.footer {
  background: var(--cap-color);
}
.logo1-footer {
  color: var(--logo1-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.logo2-footer {
  color: var(--background-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-address {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-gmail {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-gmail:active {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}
.footer-gmail:hover {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}
.footer-tel:active {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}
.footer-tel:hover {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}
.footer-address:active {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}
.footer-address:hover {
  color: var(--logo1-color);
  transition: 0.7s;
  border-radius: 4px;
}
