:root {
  --background-color: #ffffff;
  --cap-color: #2f303a;
  --logo1-color: #2196f3;
  --logo2-color: #000000;
  --address-color: #757575;
  --text-color: #212121;
  --team-backgr-color: #f5f4fa;
  --clients-color: #afb1b8;
  --cap-hover: #046ec3;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
*::selection {
  background-color: var(--logo1-color);
  color: var(--background-color);
}
*:focus {
  outline: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.header {
  padding: 24px 0;
  border-bottom: #ececec solid 1px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--background-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo1-header {
  color: var(--logo1-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.logo2-header {
  color: var(--logo2-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.nav-list-info {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.header-item {
  color: var(--logo2-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checked {
  color: var(--logo1-color);
  position: relative;
}

.checked::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--logo1-color);
  border-radius: 2px;
}

.gmail {
  margin-left: 318px;
}
.nav-list-contact {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: auto;
}
.header-gmail {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item:focus {
  outline: none;
  color: var(--logo1-color);
}
.header-info:focus {
  outline: none;
  color: var(--logo1-color);
}
.header-info:focus-within .header-icon {
  fill: var(--logo1-color);
}
.header-item:active {
  color: var(--logo1-color);
}

.header-item:hover {
  color: var(--logo1-color);
}
.header-gmail:active {
  color: var(--logo1-color);
}

.header-gmail:hover {
  color: var(--logo1-color);
}

.header-tel:active {
  color: var(--logo1-color);
}

.header-tel:hover {
  color: var(--logo1-color);
}
.contact-item {
  position: relative;
  text-decoration: none;
  color: var(--address-color);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-item:hover .header-icon {
  fill: var(--logo1-color);
}
.header-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin: 0;
  padding-left: 25px;
  color: inherit;
  line-height: 1.5;
  white-space: nowrap;
}
.header-icon {
  fill: var(--address-color);
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-gmail .header-text {
  margin-left: 5px;
}
.header-text {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-gmail:hover .header-text,
.header-tel:hover .header-text {
  color: var(--logo1-color);
}
/* main */
.wrapper {
  padding: 24px 0;
}
/* cap */
.cap {
  background-color: var(--cap-color);
  padding: 200px 0;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img-studio/title.jpg);
}
.cap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cap-title {
  color: var(--background-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
  margin-bottom: 30px;
}
.cap-button {
  width: 216px;
  height: 50px;
  background: var(--logo1-color);
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cap-button:hover,
.cap-button:focus {
  background-color: var(--cap-hover);
  animation: buttonExpand 0.3s forwards;
}
.cap-button:not(:hover) {
  animation: none; /* отменяем анимацию при загрузке страницы */
}
.cap-text {
  color: var(--background-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 152px;
  text-wrap: nowrap;
}

@keyframes buttonExpand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/* features */
.features {
  padding: 94px 0 47px;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-item {
  max-width: 270px;
}
.features-item::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 270px;
}
.features-item:first-child:before {
  background-image: url(../img/img-studio/features1.svg);
}
.features-item:nth-child(2):before {
  background-image: url(../img/img-studio/features2.svg);
}
.features-item:nth-child(3):before {
  background-image: url(../img/img-studio/features3.svg);
}
.features-item:nth-child(4):before {
  background-image: url(../img/img-studio/features4.svg);
}
.features-hero {
  color: var(--logo2-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
/* what we do */
.work {
  padding-bottom: 94px;
}
.work-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.work-item {
  position: relative;
}
.work-img {
  max-width: 100%;
  display: block;
}
.work-self-position {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}
/* team */
.team {
  padding: 94px 0;
  background-color: var(--team-backgr-color);
}
.team-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  width: 270px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: var(--background-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-name {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-work {
  color: var(--address-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team-medias {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}
.team-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-media:focus-within {
  background-color: var(--logo1-color);
  outline: none;
  border-radius: 50%;
}
.team-media:focus {
  outline: none;
}
.team-media:focus-within .team-icon {
  fill: var(--background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover {
  background-color: var(--logo1-color);
}

.team-icon {
  fill: var(--clients-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover .team-icon {
  fill: var(--background-color);
}

/* clients */
.clients {
  padding: 94px 0;
}
.clients-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}
.clients-link {
  display: block;
  padding: 15px 31px;
  border-radius: 4px;
  border: 1px solid var(--clients-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:focus {
  border: 1px solid var(--logo1-color);
}
.clients-link:focus .clients-icon {
  fill: var(--logo1-color);
  outline: none;
}
.clients-link:focus {
  outline: none;
}
.clients-link:hover {
  border: 1px solid var(--logo1-color);
}
.clients-item:hover .clients-icon {
  fill: var(--logo1-color);
}
.clients-icon {
  fill: var(--clients-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */
.footer {
  background: var(--cap-color);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  gap: 70px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.logo1-footer {
  color: var(--logo1-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
.logo2-footer {
  color: var(--background-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-address {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 20px;
}
.footer-gmail {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info:focus {
  color: var(--logo1-color);
  outline: none;
  transition: var(--animation);
}
.footer-media:focus-within {
  background-color: var(--logo1-color);
  outline: none;
  border-radius: 50%;
  transition: var(--animation);
}
.footer-media:focus {
  outline: none;
  transition: var(--animation);
}
.footer-media:focus-within .footer-icon {
  fill: var(--background-color);
  transition: var(--animation);
}

.footer-wrapper {
  padding-top: 12px;
}
.footer-text {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-medias {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-run {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

.footer-run:hover {
  background-color: var(--logo1-color);
  transition: var(--animation);
}

.footer-icon {
  fill: var(--background-color);
}

.footer-gmail:active {
  color: var(--logo1-color);
  transition: var(--animation);
}
.footer-gmail:hover {
  color: var(--logo1-color);
  transition: var(--animation);
}
.footer-tel:active {
  color: var(--logo1-color);
  transition: var(--animation);
}
.footer-tel:hover {
  color: var(--logo1-color);
  transition: var(--animation);
}
.footer-address:active {
  color: var(--logo1-color);
  transition: var(--animation);
}
.footer-address:hover {
  color: var(--logo1-color);
  transition: var(--animation);
}
.footer-form {
  margin-left: auto;
  padding-top: 12px;
}

.footer-title {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-label {
  display: flex;
  gap: 12px;
}

.footer-name {
  width: auto;
  width: 358px;
  height: 50px;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--background-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--logo1-color);
  transition: var(--animation);
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-btn {
  display: flex;
  align-items: center;
  color: var(--background-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--logo1-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 53px;
  gap: 10px;
  border: none;
  padding: 10px 28px;
  margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
  background: var(--cap-hover);
  transition: var(--animation);
}

.footer-send {
  fill: var(--background-color);
  transition: var(--animation);
}

/* modal window */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.backdrop:not(.is-hidden) .modal {
  animation: zoomIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-hidden) {
  pointer-events: auto;
}

.backdrop.is-hidden {
  pointer-events: none;
  display: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-top: 30px;
  padding-left: 30px;
  position: relative;
  animation: zoomIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  background-color: transparent;
  line-height: 0;
  padding: 6px;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-title {
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-name {
  display: block;
  position: relative;
  color: var(--address-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal-input {
  display: block;
  height: 40px;
  padding-left: 38px;
  width: 448px;
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--address-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--logo1-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 29px;
  fill: var(--text-color);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--logo1-color);
}

.modal-message {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  display: block;
  width: 100%;
  width: 455px;
  color: var(--address-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
}

.modal-message:hover,
.modal-message:focus {
  border: 1px solid var(--logo1-color);
}

.modal-wrap {
  display: flex;
  padding-left: 13px;
  gap: 7px;
  align-items: center;
}

.modal-check {
  position: relative;
}

.modal-check {
  border-radius: 2px;
  background-color: transparent;
}

.modal-checkbox {
  display: none;
}

.modal-fake {
  width: 16px;
  height: 15px;
  display: block;
  border-radius: 2px;
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
}

.modal-fake::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 19px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--logo1-color);
  opacity: 0;
  border-radius: 2px;
}

.modal-checkbox:checked + .modal-fake::before {
  opacity: 1;
}

.modal-checked {
  fill: var(--background-color);
  position: absolute;
  width: 16px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-text {
  color: var(--address-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 400px;
}

.modal-link {
  color: var(--logo1-color);
  text-decoration-line: underline;
}

.modal-btn {
  border-radius: 4px;
  background: var(--logo1-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: var(--background-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  padding: 10px 52px;
  margin: 30px auto 0;
  display: block;
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--cap-hover);
}

.close-circle:hover {
  fill: var(--logo1-color);
  cursor: pointer;
}

.close-circle:focus {
  fill: var(--logo1-color);
}

.close-circle {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border:  none; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

