@import "./base/reset";
@import "./utils/vars";
@import "./utils/mixin";
@import "./utils/placeholders";
@import "./base/common";
@import "./base/container";

@import "./components/header";
@import "./components/brg-menu";
@import "./components/wrapper";
@import "./components/footer";
@import "./components/scroll";

@import "./sections/contacts-sections/contact.scss";
@import "./sections/contacts-sections/map.scss";

.header__item:nth-child(3) .header__link {
    color: $accent;
}

.header__item:nth-child(3)::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $accent;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    bottom: -30px;
}

.menu__item:nth-child(3) .menu__link {
    color: $accent;
}