@import "./base/reset";
@import "./utils/vars";
@import "./utils/mixin";
@import "./utils/placeholders";
@import "./base/common";
@import "./base/container";

@import "./components/header";
@import "./components/brg-menu";
@import "./components/wrapper";
@import "./components/footer";
@import "./components/scroll";

@import "./sections/studio-sections/cap";
@import "./sections/studio-sections/features";
@import "./sections/studio-sections/work";
@import "./sections/studio-sections/team";
@import "./sections/studio-sections/clients";
@import "./sections/studio-sections/modal";

.header__item:nth-child(1) .header__link {
    color: $accent;
}

.header__item:nth-child(1)::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $accent;
    width: 100%;
    border-radius: 2px;
    height: 4px;
    bottom: -30px;

}

.menu__item:nth-child(1) .menu__link {
    color: $accent;
}