.no-scroll {
  overflow: hidden;
}


.modal {
  height: auto;
  width: calc(100% - 30px);
  background-color: #ffffff;
  border: none;
  &__close {
    background-color: transparent;
    line-height: 0;

    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  }

  &__dagger {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close:hover &__dagger,
  &__close:focus &__dagger {
    fill: #2196f3;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
    line-height: normal;
  }

  &__name {
    display: block;
    position: relative;
    font-size: 12px;
    color: #757575;
    letter-spacing: 0.12px;
  }

  &__input {
    display: block;
    width: 85%;

    padding: 12px 42px;
    margin-top: 4px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    letter-spacing: 0.12px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid #2196f3;
    }
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 29px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:hover + &__icon,
  &__input:focus + &__icon {
    fill: #2196f3;
  }

  &__message {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 95%;
    height: 100px;
    padding: 12px 16px;
    display: block;
    font-size: 12;
    letter-spacing: 0.12px;
    margin-bottom: 20px;
    margin-top: 4px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid #2196f3;
    }
  }

  &__wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 13px;
    gap: 8px;
    align-items: center;
  }

  &__check {
    position: relative;
    border-radius: 2px;
    background-color: transparent;
  }

  &__checkbox {
    display: none;
  }

  &__fake {
    width: 16px;
    height: 15px;
    display: block;
    border-radius: 2px;
    border: 2px solid #000;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 19px;
      height: 19px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #2196f3;
      opacity: 0;
      border-radius: 2px;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__checkbox:checked + &__fake::before {
    opacity: 1;
  }

  &__checked {
    fill: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__text {
    font-size: 12;
    color: #757575;
    line-height: normal;
    letter-spacing: 0.42px;
    width: calc(100% - 24px);
  }

  &__link {
    color: #2196f3;
    text-decoration-line: underline;
  }

  &__btn {
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 20px auto 0;
    padding: 10px 52px;
  }

  &__desc {
    font-weight: 700;
    color: white;
    line-height: 1.88;
    letter-spacing: 0.96px;
    z-index: 4;
    position: relative;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    padding: 40px;
    width: 450px;
    height: auto;

    &__title {
      font-size: 20px;
      font-weight: 700;
    }

    &__btn {
      margin: 30px auto 0;
    }

    &__desc {
      font-size: 16px;
      font-weight: 700;
      color: white;
    }

    &__message {
      height: 120px;
    }
  }
}
@media screen and (min-width: 768px) {
  .modal {
    margin-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
  }
  .modal {
    width: 528px;
    height: 581px;

    &__title {
      line-height: normal;
    }

    &__text {
      color: #757575;
      line-height: 1.71;
    }
  }
}
