
.map__google {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-radius: 8px;
  width: 350px;
  height: 200px;
}
.map__title {
  text-align: center;
}
.map__wrap {
    display: flex;
    justify-content: center;
  }
@media screen and (min-width: 768px) {
  .map__wrap {
    display: flex;
    justify-content: center;
  }

}
@media screen and (min-width: 1200px) {
  .map__google {
    width: 600px;
    height: 450px;
  }
}
