
.cap {
  background-color: $cap-color;
  padding: 200px 0;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img-studio/title.jpg);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @include text($color: $background-color, $size: 44px, $weight: 900);
    text-align: center;
 
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    max-width: 696px;
    margin-bottom: 40px;
    animation-name: title-move;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes title-move {
    0% {
      transform: translate(400px, -100px);
      opacity: 0;
    }
  
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  &__button {
    @extend %button-styles;
            padding: 10px 32px;
  }
  
  @keyframes btn-move {
    0% {
      transform: translate(-400px, 100px);
      opacity: 0;
    }
  
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  &__button:hover,
  &__button:focus {
    background-color: $cap-hover;
    animation: buttonExpand 0.3s forwards;
  }
  &__button:not(:hover) {
    animation: none; 
  }
  &__text {
    color: $background-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 152px;
    text-wrap: nowrap;
  }
  
  
  @keyframes title-move {
    0% {
      transform: translate(400px, -100px);
      opacity: 0;
    }
  
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
