
.clients {
	padding: 94px 0;
	&__title {
	    @include text($color: $text-color, $size: 36px, $weight: 700);
		text-align: center;

		letter-spacing: 1.08px;
	}
	&__list {
		display: flex;
		gap: 30px;
		justify-content: center;
		margin-top: 50px;
	}
	&__link {
		display: block;
		padding: 15px 31px;
		border-radius: 4px;
		border: 1px solid $clients-color;
		transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:focus {
			border: 1px solid $logo1-color;
		}
	}
	&__link {
		&:focus {
			.clients-icon {
				fill: $logo1-color;
				outline: none;
			}
			outline: none;
		}
		&:hover {
			border: 1px solid $logo1-color;
		}
	}
	&__item {
		&:hover {
			&__icon {
				fill: $logo1-color;
			}
		}
	}
	&__icon {
		fill: $clients-color;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	
}
