

/* clients */
.clients {
    padding: 94px 0;
  }
  .clients-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }
  .clients-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
  }
  .clients-link {
    display: block;
    padding: 15px 31px;
    border-radius: 4px;
    border: 1px solid var(--clients-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-link:focus {
    border: 1px solid var(--logo1-color);
  }
  .clients-link:focus .clients-icon {
    fill: var(--logo1-color);
    outline: none;
  }
  .clients-link:focus {
    outline: none;
  }
  .clients-link:hover {
    border: 1px solid var(--logo1-color);
  }
  .clients-item:hover .clients-icon {
    fill: var(--logo1-color);
  }
  .clients-icon {
    fill: var(--clients-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  