
.features {
	padding: 94px 0 47px;
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		max-width: 270px;
		&::before {
			content: '';
			display: block;
			height: 120px;
			background-color: #f5f4fa;
			background-size: 70px;
			background-repeat: no-repeat;
			background-position: center;
			margin-bottom: 30px;
			border-radius: 4px;
			width: 270px;
		}
		&:first-child {
			&:before {
				background-image: url(../img/img-studio/features1.svg);
			}
		}
		&:nth-child(2) {
			&:before {
				background-image: url(../img/img-studio/features2.svg);
			}
		}
		&:nth-child(3) {
			&:before {
				background-image: url(../img/img-studio/features3.svg);
			}
		}
		&:nth-child(4) {
			&:before {
				background-image: url(../img/img-studio/features4.svg);
			}
		}
	}
	&__hero {
	    @include text($color: $logo2-color, $size: 14px, $weight: 700);
		letter-spacing: 0.42px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__text {
		color: $address-color;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.71;
		letter-spacing: 0.42px;
	}
	
}
