/* team */
.team {
	padding: 94px 0;
	background-color: $team-backgr-color;
	&__title {
		color: $text-color;
		text-align: center;
		font-size: 36px;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1.08px;
		margin-bottom: 50p