/* what we do */
.work {
	padding-bottom: 94px;
	&__title {
		color: $text-color;
		text-align: center;
		font-size: 36px;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1.08px;
		margin-bottom: 50px;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	&__item {
		position: relative;
	}
	&__img {
		max-width: 100%;
		display: block;
	}
	&__selfposition {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-top: 27px;
		padding-bottom: 27px;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #fff;
		background-color: rgba(47, 48, 58, 0.8);
	}
	
}
