.header {
  padding: 24px 0;
  border-bottom: #ececec solid 1px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $background-color;
}

.header__container,
.header__nav {
  display: flex;
  align-items: center;
}

.logo1__header {
  color: $logo1-color;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logo2__header {
  color: $logo2-color;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.nav__list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.nav__item {
  color: $logo2-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__item {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checked {
  color: $logo1-color;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $logo1-color;
    border-radius: 2px;
  }
}

.gmail {
  margin-left: 318px;
}

.nav__list--contact {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: auto;
}

.contact__gmail {
  color: $address-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__tel {
  color: $address-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item:focus {
  outline: none;
  color: $logo1-color;
}

.contact__info {
  &:focus {
    outline: none;
    color: $logo1-color;
  }

  &:focus-within .header__icon {
    fill: $logo1-color;
  }
}

.nav__item {
  &:active,
  &:hover {
    color: $logo1-color;
  }
}

.contact__gmail {
  &:active,
  &:hover {
    color: $logo1-color;
  }
}

.contact__tel {
  &:active,
  &:hover {
    color: $logo1-color;
  }
}

.contact__item {
  position: relative;
  text-decoration: none;
  color: $address-color;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  &:hover .header__icon {
    fill: $logo1-color;
  }
}

.header__text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin: 0;

  padding-left: 25px;
  color: $address-color;
  line-height: 1.5;
  white-space: nowrap;
}

.header__icon {
  fill: $address-color;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__gmail .header__text {
  margin-left: 5px;
}

.header__text {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__gmail:hover .header__text,
.contact__tel:hover .header__text {
  color: $logo1-color;
}
