
body {
    font-family: 'Roboto', sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  *::selection {
    background-color: var(--logo1-color);
    color: var(--background-color);
  }
  *:focus {
    outline: none;
  }
  
  a,
  button {
    transition: transform 0.3s ease; 
  }
  
  
  a:hover,
  button:hover {
    transform: scale(1.1); 
  }
  
  a:focus,
  button:focus {
    transform: scale(1.1); 
  }
  
  
  a:not(:hover):not(:focus),
  button:not(:hover):not(:focus) {
    transform: scale(1); 
  }