
body {
    font-family: 'Roboto', sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  *::selection {
    background-color: var(--logo1-color);
    color: var(--background-color);
  }
  *:focus {
    outline: none;
  }
  
