:root {
  --background-color: #ffffff;
  --footer-backgr-color: #2f303a;
  --logo1-color: #2196f3;
  --logo2-color: #000000;
  --address-color: #757575;
  --text-color: #212121;
  --line-color: #ececec;
}
body {
  font-family: "Roboto";
}
/* header */
.logo1-header {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.logo2-header {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.nav-list-item a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-gmail {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-tel {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.nav-list-item:nth-child(2) a {
  color: #2196f3;
}

.header-item:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}

.header-item:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.header-gmail:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}

.header-gmail:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}

.header-tel:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}

.header-tel:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
/* filters */
.filters-button {
  border-radius: 4px;
  background: #f5f4fa;
  border: none;
  color: #000;
}
.filters-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  transition: 0.5s;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* portfolio */
.port-item {
  border: 1px solid #eee;
  background: #fff;
}
.port-name {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.port-work {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
/* footer */
.footer {
  background: #2f303a;
}
.logo1-footer {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.logo2-footer {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-address {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-gmail {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-gmail:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.footer-gmail:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.footer-tel:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.footer-tel:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.footer-address:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.footer-address:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
