body {
  font-family: "Roboto";
}
/* header */
.logo1-header {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.logo2-header {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.nav-list-item a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-gmail {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-tel {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.nav-list-item:nth-child(1) a {
  color: #2196f3;
}

.header-item:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}

.header-item:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.header-gmail:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}

.header-gmail:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}

.header-tel:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}

.header-tel:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
/* cap */

.cap {
  background-color: #2f303a;
}

.cap-title {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
}
.cap-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.cap-text {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.87;
  margin-bottom: 10px;
  text-align: center;
}

/* why us */

.why-us-hero {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.why-us-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* what we do */

.what-we-do-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

/* team */

.team-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.team-name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team-work {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
/* footer */
.footer {
  background: #2f303a;
}
.logo1-footer {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.logo2-footer {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-address {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-gmail {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-gmail:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.footer-gmail:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.footer-tel:active {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.footer-tel:hover {
  color: #2196f3;
  transition: 0.7s;
  border-radius: 4px;
}
.footer-address:active{
    color: #2196f3;
    transition: 0.7s;
    border-radius: 4px;
}
.footer-address:hover {
    color: #2196f3;
    transition: 0.7s;
    border-radius: 4px;
}